<!DOCTYPE html>
<html>
    {% load static %}
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
    <title>Inicio de Sesión</title>
  </head>
  <body> 
    <h1>Inicia sesión</h1>
    <form method="POST">
      {% csrf_token %}
    <div class="divFlex">
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" name="usuario" required>
    </div>
    <div class="divFlex">
      <label for="contraseña">Contraseña:</label>
      <input type="password" id="contraseña" name="clave" required>
    </div>
    <div class="divFlex">
      <button type="submit">Iniciar Sesión</button>
    </div>
    {% if msgError %}
      <p>{{msgError}}</p>
    {% endif %}
    </form>
  </body>
</html>