<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleVerOrdenes.css' %}">
    <title>Historial</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="containerBtnOrdenes">
            <a class="btn third" id="btnVerde" href="{% url 'landing' %}">Volver</a>
            {% if userAdm %}
            <button type="submit" class="btn third">Guardar Cambios</button>
            {%endif%}
        </div>
        <div class="containerTablas divFlex">
            {% for id_orden, datos in datos_por_orden.items %}
                <p class="fechas"> <strong>Fecha de creación de la orden:</strong> {{ datos.fecha_creacion }}</p>
                <p class="fechas"> <strong>Fecha de entrega de la orden:</strong> {{ datos.fecha_entrega }}</p>
                <table class="tablaVerOrdenes">
                    <thead>
                        <tr>
                            <th>Id de orden</th>
                            <th>Nombre del producto</th>
                            <th>Cantidad Solicitada</th>
                            <th>Inventario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in datos.productos %}
                            <tr>
                                <td class="centrarTextos">{{ id_orden }}</td>
                                <td class="centrarTextos">{{ producto.nombre }}</td>
                                <td class="centrarTextos">{{ producto.cantidad }} {{ producto.unidades }}</td>
                                <td class="centrarTextos">{{ producto.inventario }} {{ producto.unidades }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if userAdm %}
                <div class="divFlexRow" id="containerInputOrdenCompletada">
                    <label for="completarOrdenDespacho" id="labelOrdenCompletada">Selecciona para completar la orden de despacho " # {{id_orden}} ":</label>
                    <input type="radio" name="completarOrdenDespacho" id="checkOrdenCompletada" value="{{id_orden}}" required>
                </div>
                {%endif%}
            {% endfor %}
        </div>
    </form>
</body>
</html>