.tablaVerOrdenes{
    width: 90%;
}
th{
    background-color: #90ee90;
}
td,th{
    border: 1px solid #32cd32;
}
.containerTablas{
    width: 100%;
    align-items: center;
}
.fechas{
    margin: 0px;
}
.centrarTextos{
    text-align: center;
}
#checkOrdenCompletada{
}
#labelOrdenCompletada{
}
#containerInputOrdenCompletada{
    width: fit-content;
    margin-bottom: 8%;
}