<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Crear Empleado</title>
</head>
<body>
    <form method="POST" class="divFlex">
        {% csrf_token %}
        <div class="divFlexRow">
            <label for="nombre" class="labelInput">Nombre:</label>
            <input type="text" placeholder="Ingrese nombre" name="nombreEmpleadoC" class="inputCalculo" required>
        </div>
        <div class="divFlexRow">
            <label for="cedulaEmpleadoC" class="labelInput">Cédula:</label>
            <input type="number" placeholder="Ingrese cédula" name="cedulaEmpleadoC" class="inputCalculo" required>
        </div>
        <div class="divFlexRow">
            <label for="fechaInicioEmpleadoC" class="labelInput">Fecha inicio:</label>
            <input type="date" placeholder="Ingrese fecha de inicio" name="fechaInicioEmpleadoC" class="inputCalculo" required>
        </div>
        <div class="divFlexRow">
            <label for="salarioBaseEmpleadoC" class="labelInput">Salario Base:</label>
            <input type="number" step="0.01" placeholder="Ingrese salario base" name="salarioBaseEmpleadoC" class="inputCalculo" required>
        </div>
        <button type="submit" class="btn third">Crear Empleado</button>
        <a class="btn third" id="btnVerde" href="{% url 'landing' %}">Volver</a>
        {% if nombre %}
            <p class="msgExito">{{msgExito}}</p>
        {%endif%}
    </form>
</body>
</html>