<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Calculo</title>
</head>
<body>
    <form method="POST" class="divFlex">
        {% csrf_token %}
        <input type="text" placeholder="Empleado" name="empleado" class="inputCalculo">
        <label for="fechaInicio" class="labelInput">Fecha inicio</label>
        <input type="date" placeholder="Fecha inicio" name="fechaInicio" class="inputCalculo">
        <label for="fechaFin" class="labelInput">Fecha fin</label>
        <input type="date" placeholder="Fecha fin" name="fechaFin" class="inputCalculo">
        <!--<input type="number" step="0.1" placeholder="Horas Diurnas" name="horasDiurnas" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Horas Nocturnas" name="horasNocturnas" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Horas Totales" name="horasTotales" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Horas Ordinarias" name="horasOrdinarias" class="inputCalculo">-->
        <input type="number" step="0.1" placeholder="Extras Diurnas" name="extrasDiurnas" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Extras Nocturnas" name="extrasNocturnas" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Recargos Nocturnos" name="recargosNocturnos" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Domingos y/o festivos" name="festivos" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Extras Diurnas Festivas" name="extrasDF" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Extras Nocturnas Festivas" name="extrasNF" class="inputCalculo">
        <input type="number" step="0.1" placeholder="Recargos Nocturnos Festivos" name="RNF" class="inputCalculo">
        <button type="submit" class="btn third">Calcular Nómina</button>
    </form>
    <p>Empleado: {{empleado}}</p>
    <p>Devengos: {{total}}</p>
    <p>Nomina (con descuentos): {{descuento}}</p>
</body>
</html>