<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Crear Producto</title>
</head>
<body>
    <form method="POST" class="divFlex">
        {% csrf_token %}
        <div class="divFlexRow">
            <label for="nombreProducto" class="labelInput">Nombre:</label>
            <input type="text" placeholder="Nombre Producto" name="nombreProducto" class="inputCalculo" required>
        </div>
        <div class="divFlexRow">
            <label for="stock" class="labelInput">Stock Inicial:</label>
            <input type="number" step="1" placeholder="Unidades" name="stock" class="inputCalculo" >
        </div>
        <div class="divFlexRow">
            <label for="unidades" class="labelInput">Gr:</label>
            <input type="checkbox" name="unidades" class="inputCalculo" >
        </div>
        <div class="divFlexRow">
            <label for="precio" class="labelInput">Precio:</label>
            <input type="number" step="1" placeholder="Precio (opcional)" name="precio" class="inputCalculo" >
        </div>
        <button type="submit" class="btn third">Crear Producto</button>
        <a class="btn third" id="btnVerde" href="{% url 'landing' %}">Volver</a>
    </form>
</body>
</html>