<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Crear Orden</title>
</head>
<body>
    <form method="POST" class="divFlex" id="formOrden">
        {% csrf_token %}
        <div id="contenedorCrearOrden">
        <section class="pedidoOrden divFlex" id="sectionPedidoOrden">
            <div class="divFlexRow" id="inputOrden">
            <label for="productoOrden" class="labelInput">Producto:</label>
            <select name="productoOrden" class="inputCalculo" id="inputGrande">
                <option value="Pollo Menu">Pollo Menu</option>
                <option value="Cerdo Menu">Cerdo Menu</option>
                <option value="Costilla Menu">Costilla Menu</option>
                <option value="Chicharron">Chicharron</option>
                <option value="Pulled Pork">Pulled Pork</option>
                <option value="Panceta Ahumada">Panceta Ahumada</option>
                <option value="1/2 Rack">1/2 Rack</option>
                <option value="Picada Mediana Pollo">Picada Mediana Pollo</option>
                <option value="Picada Mediana Cerdo">Picada Mediana Cerdo</option>
                <option value="Picada Mediana Res">Picada Mediana Res</option>
                <option value="Picada Grande Pollo">Picada Grande Pollo</option>
                <option value="Picada Grande Cerdo">Picada Grande Cerdo</option>
                <option value="Picada Grande Res">Picada Grande Res</option>
                <option value="Picada Familiar Pollo">Picada Familiar Pollo</option>
                <option value="Picada Familiar Cerdo">Picada Familiar Cerdo</option>
                <option value="Picada Familiar Res">Picada Familiar Res</option>
                <option value="Carne Hamburguesa">Carne Hamburguesa</option>
                <option value="Eva">Eva</option>
                <option value="Caiman">Caiman</option>
            </select>
            </div>
            <div class="divFlexRow" id="inputOrden">
                <label for="cantidadSolicitada" class="labelInput">Cantidad Solicitada:</label>
                <input type="number" step="1" placeholder="Unidades" name="cantidadSolicitada" class="inputCalculo" id="inputCantidadSolicitada">
            </div>
        </section>
        </div>
        <div id="infoListProductos"></div>
        <input type="text" id="mandarPython" name="datosProducto" hidden>
        <div id="contenedorFechaE">
            <div class="divFlexRow" id="inputOrden">
                <label for="fechaEntrega" class="labelInput">Fecha de Entrega:</label>
                <input type="date" min="{{fechaActual}}" name="fechaEntrega" class="inputCalculo" id="inputFechaE" required>
            </div>
        </div>
        <button type="button" class="btn third" onclick="agregarElemento()">Agregar Producto</button>
        <button type="submit" class="btn third">Crear Orden</button>
        <a class="btn third" id="btnVerde" href="{% url 'landing' %}">Volver</a>
    </form>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>