<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Crear Orden</title>
</head>
<body>
    <form method="POST" class="divFlex" id="formOrden">
        {% csrf_token %}
        <div id="contenedorCrearOrden">
        <section class="pedidoOrden divFlex" id="sectionPedidoOrden">
            <div class="divFlexRow" id="inputOrden">
            <label for="productoOrden" class="labelInput">Producto:</label>
            <select name="productoOrden" class="inputCalculo" id="inputGrande">
                {% for producto in productosBd%}
                <option value="{{producto.nombre}}">{{producto.nombre}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="divFlexRow" id="inputOrden">
                <label for="cantidadSolicitada" class="labelInput">Cantidad Solicitada:</label>
                <input type="number" step="1" placeholder="Unidades" name="cantidadSolicitada" class="inputCalculo" id="inputCantidadSolicitada">
            </div>
        </section>
        </div>
        <div id="infoListProductos"></div>
        <input type="text" id="mandarPython" name="datosProducto" hidden>
        <div id="contenedorFechaE">
            <div class="divFlexRow" id="inputOrden">
                <label for="fechaEntrega" class="labelInput">Fecha de Entrega:</label>
                <input type="date" min="{{fechaActual}}" name="fechaEntrega" class="inputCalculo" id="inputFechaE" required>
            </div>
        </div>
        <button type="button" class="btn third" onclick="agregarElemento()">Agregar Producto</button>
        <button type="submit" class="btn third">Crear Orden</button>
        <a class="btn third" id="btnVerde" href="{% url 'landing' %}">Volver</a>
    </form>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>