<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleVerOrdenes.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleInventario.css' %}">
    <title>Inventario</title>
</head>
<body>
    <h1 class="centrarTextos"  id="tituloInventario">Inventario</h1>
    <div class="containerTablas divFlex">
            <table class="tablaVerOrdenes">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Stock Actual</th>
                        <th>Unidades</th>
                        <th>Lote</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td class="centrarTextos">{{ producto.nombre }}</td>
                            <td class="centrarTextos">{{ producto.stock }}</td>
                            <td class="centrarTextos">{{ producto.und }}</td>
                            <td class="centrarTextos">{{ producto.lote }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="containerBtnOrdenes">
        <a class="btn third" id="btnVerde" href="{% url 'landing' %}">Volver</a>
    </div>
</body>
</html>