<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleVerOrdenes.css' %}">
    <title>Historial</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="containerBtnOrdenes">
            <a class="btn third" id="btnVerde" href="{% url 'landing' %}">Volver</a>
            <button type="submit" class="btn third" onclick="adelantoProduccion()">Guardar Cambios</button>
            <input type="text" id="mandarPython" name="datosProduccion" hidden>
        </div>
        <div class="containerTablas divFlex">
            {% for id_orden, datos in datos_por_orden.items %}
                <p class="fechas"> <strong>Fecha de creación de la orden:</strong> {{ datos.fecha_creacion }}</p>
                <p class="fechas"> <strong>Fecha de entrega de la orden:</strong> {{ datos.fecha_entrega }}</p>
                <table class="tablaVerOrdenes">
                    <thead>
                        <tr>
                            <th>Id de orden</th>
                            <th>Nombre del producto</th>
                            <th>Cantidad</th>
                            <th>Lote</th>
                            <th>Cantidad Producida</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in datos.productos %}
                            <tr>
                                <td class="centrarTextos">{{ id_orden }}</td>
                                <td class="centrarTextos">{{ producto.nombre }}</td>
                                <td class="centrarTextos">{{ producto.cantidad }}</td>
                                <td class="centrarTextos">{{ producto.lote }}</td>
                                <td class="centrarTextos">Cantidad producida actual: {{producto.cantidadProducida}} - Ingresar producción: <input type="number" min="0" class="adelantoProduccion" id="{{producto.idProductoOrden}}" value="0"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="divFlexRow" id="containerInputOrdenCompletada">
                    <label for="ordenCompletada" id="labelOrdenCompletada">Selecciona para adelantar la producción en la orden " # {{id_orden}} ":</label>
                    <input type="radio" name="guardarAdelanto" id="checkOrdenCompletada" value="{{id_orden}}" required>
                </div>
            {% endfor %}
        </div>
    </form>
    <script src="{% static 'js/scriptAdelantoProduccion.js' %}"></script>
</body>
</html>